* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #78866b;
}

h1 {
  color: #f8f6eb;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  background-color: unset;
  color: #f8f6eb;
  font-weight: bold;
  text-decoration: none;
}

nav li a:hover {
  color: #d9b674;
}

.jala {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border: solid 10px #f8f6eb;
}

p {
  font-size: larger;
  color: #f8f6eb;
}

#work {
  background-color: #9fb9bf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.first {
  width: 1200px;
}
figure {
  float: inline-start;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

@media screen and (max-width:992px) {
  figure {
    width: 50%;
  }
  @media screen and (max-width: 968px) {
    figure {
      width: 100%;
    }
  }
}