* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --light: #9fb9bf;
  --dark: #78866b;
  --accent: #f8f6eb;
}

body {
  background-color: var(--dark);
}

header {
  background-color: var(--light);
  padding-top: 10px;
}

header h1 {
  color: var(--accent);
  display: inline;
  font-size: 30px;
}

nav ul {
  text-align: right;
  display: inline;
  float: right;
  font-size: 30px;
}

nav a {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a:hover {
  color: #d9b674;
  opacity: 0.5;
}

#about {
  display: flex;
  font-size: 20px;
  color: var(--accent);
  background-image: url(about-background.jpeg);
}

.profile-img {
  display: flex;
  height: 200px;
  margin-right: 20px;
  margin-top: 10px;
  border: 5px solid var(--accent);
}

#work {
  background-color: var(--light)
}

#work h2 {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: var(--accent);
}

.main-project {
  display: flex;
  justify-content: center;
  opacity: 1;
  margin-top: 20px;
}

.main-project:hover {
  opacity: 0.5;
}

.coming-soon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  opacity: 1;
}

figure {
  float: inline-start;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;

}

#one:hover {
  opacity: 0.5;
}

#two:hover {
  opacity: 0.5;
}

#three:hover {
  opacity: 0.5;

}

#contact {
  text-align: center;
}

footer {
  background-color: var(--accent);
}

footer h3 {
  font-size: 20px;
  margin-top: 0px;
}

@media screen and (max-width: 550px) {
  figure {
    width: 50%;
  }

  main,
  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }
}