* {
  font-family: 'Raleway', sans-serif;
}
:root {
  --light:#9fb9bf;
  --dark: #78866b;
  --accent:#f8f6eb;
}

body {
  background-color: var(--dark);
}

header {
  background-color: var(--light);
}

header h1 {
  color: var(--accent);
  display: inline;
  font-size: 30px;
}

nav ul {
  text-align: right;
  display: inline;
  float: right;
  font-size: 30px;
}

nav a {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a:hover {
  color: #d9b674;
}

#about {
  display: flex;
  font-size: 20px;
  color: var(--accent);
  background-image: url(about-background.jpeg);
}

.profile-img {
  display: flex;
  height: 200px;
  margin-right: 20px;
  margin-top: 10px;
  border: 5px solid var(--accent);
}

#work {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first {
  width: 1200px;
}

figure {
  float: inline-start;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

#contact {
  text-align: center;
}
footer h3 {
  font-size: 20px;
  color:var(--accent);
  margin-top: 0px;
}
@media screen and (max-width: 560px) {
  figure {
    width: 50%;
  }

  main,
  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }

  header,
  h1 {
    justify-content: center;
  }
}