* {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color:  #78866b;
}
h1 {
    font-family: 'Lora', serif;

}
nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    background-color: unset;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: white;
  }
  .jala {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%

  }
.work {
    background-color: #9fb9bf;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figure {
  float: inline-start;
  width: 30%;
  text-align: center;
  margin: 10px;
  padding: 10px;
}